DISCORD_PUBLIC_KEY="YOUR_DISCORD_PUBLIC_KEY"
DISCORD_APPLICATION_ID="YOUR_DISCORD_APPLICATION_ID"
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
GOOGLE_REFRESH_TOKEN="YOUR_GOOGLE_REFRESH_TOKEN"
